/* Start of Navbar  */

/* changing font of Brand name  */
.increaseText {
    transform-origin: 50% 50%;
}

.increaseText:hover {
    transform: scale(1.2);
    font-style: normal;
    transition: 1s;

}

/* Setting navbar content to center  */

nav {
    min-height: 12vh;
}

#navbarSupportedContent {
    justify-content: center;
    align-items: center;
}

/* fixing background image at home  */

/* End of Navbar */
body {
    height: 500vh;
}


/* Designing The home page  */
.home {
    background: url('img/home-bg.png');
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.home_left {
    width: 35%;
}

.home_right {
    overflow: hidden;
    margin: 3rem !important;

}

.home_right img {
    transform-origin: 50% 50%;
}

.home_right img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.reveal {
    opacity: 1 !important;
    transition: 3s;
}

.notreveal {
    opacity: 0;
}

#svg {
    margin-left: 5px;
}

.home button:hover #svg {
    transform: translate(5px, 0px);
    ;
    transition: 0.4s;
}

.home button {
    background-color: blue;
    color: white;
    outline: none;
}

.home button:hover {
    background-color: blue;
    color: white;
}

/* home page for small devices  */
@media only screen and (max-width: 1000px) {
    .home {
        background: url('img/home-bg-small.jpg');
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        margin-top: 5rem !important;
    }

    .home_left {
        width: 70%;
    }

    .home_right {
        margin: 1rem !important;
    }
}

@media only screen and (max-width: 821px) {
    .home {
        height:85vh;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        background: url('img/home-bg-smallest.jpg');
        height: 90vh;
    }
}


/* End of Home Styling */

/* Start of Service Page  */

.service_heading {
    margin-top: 8vh;
    color: rgb(47, 209, 47);
    font-size: 20px;
}

.services {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.card {
    margin: 15px !important;
    padding: 8px;
    min-height: 60vh;
    text-align: center;
    border: none !important;
}

.card-body {
    border-radius: 5px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.5s;
    box-shadow: 1px 0px rgb(200, 200, 200);

}

#card1 {
    border-bottom: 4px solid springgreen !important;

}

#card2 {
    border-bottom: 4px solid royalblue !important;

}

#card3 {
    border-bottom: 4px solid yellow !important;

}

#card1:hover {
    background-color: springgreen;
    transform: translateY(-25px);

}

#card2:hover {
    background-color: royalblue;
    transform: translateY(-25px);

}

#card3:hover {
    background-color: yellow;
    transform: translateY(-25px);

}

@media only screen and (max-width: 821px) {
    .services {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5rem !important;
        height: 155vh;
    }

    .card {
        min-height: 50vh;
    }

}

@media only screen and (max-width: 550px) {
    .card {
        min-height: 40vh;
        padding: 3px;
        margin: 20px;
    }
    .services{
        height: 135vh;
    }

}

/* end of Service page  */

/* Start of About Page  */

#about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    background-color: #f6f9ff;
    margin: 5vw;
    padding: 7vh;
    margin-left: 7vw !important;
    padding-right: 13vw !important;
    padding-left: 5vw !important;
    margin-right: -10vw !important;

}

.aboutimg {
    height: 60vh;
}

#about img {
    transform-origin: 50% 50%;
}

#about img:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.readmore {
    background-color: blue;
    color: white;
    outline: none;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    text-decoration: none;
}

#about a:link {
    text-decoration: none;
}

#about a:visited {
    text-decoration: none;
}

#about a:hover {
    text-decoration: none;
}

#about a:active {
    text-decoration: none;
}

#svg1 {
    margin-left: 5px;
}

#about a:hover #svg1 {
    transform: translate(5px, 0px);
    ;
    transition: 0.4s;
}

#about a:hover {
    color: white;
}

@media only screen and (max-width: 821px) {
    #about {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5rem !important;

    }

    .content {
        min-height: 42vh;
        margin: 30px !important;
        padding: 10px !important;
    }

}

/* End of About Page  */

/* Start of Contact Page  */
#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left a {
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}

.right {
    background-color: #f6f9ff;
    /* border: 2px solid black; */
    min-height: 40vh;
    margin: 5vh;
    padding: 25px;
    min-height: 60vh;
    min-width: 30%;

}

.contactele{
    /* border: 2px solid green; */
    margin: 10px;
    background-color: #f6f9ff;
    padding: 10px;
    border-radius: 10px;
}
.contactele:hover{
    margin: 10px;
    background-color: royalblue;
    color: white;
    transition: 0.5s ease-in;
}
.contactele:hover .heading{
    color: white !important;
    transition: 0.5s ease-in;
}
#contact .heading{
    color: rgb(24, 24, 99);

}


#contact button:hover #svg {
    transform: translate(5px, 0px);
    ;
    transition: 0.4s;
}

/* End of Contact Page  */

/* Start of Footer page*/

footer{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 10vh;

}

footer .contents{
    flex-direction: row;
    justify-content: center;
    margin: 10vh;
    display: flex;
    padding: 10vh;
}

@media only screen and (max-width: 821px) {

    footer{
        padding: 3vh;
        min-height: 120vh;
    }
    footer .contents{
        padding: 3vh;
        margin: 3vh;
        flex-wrap: wrap;
    }

    .columncontent{
        margin: 2vh;
        padding:5px;
    }
}
/*End of Footer page */